{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Register | Moon School</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'vendors/iconfonts/mdi/css/materialdesignicons.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.addons.css' %}" />
    <!-- endinject -->
    <!-- vendor css for this page -->
    <!-- End vendor css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'css/shared/style.css' %}" />
    <!-- endinject -->
    <!-- Layout style -->
    <link rel="stylesheet" href="{% static 'css/demo_1/style.css' %}">
    <!-- Layout style -->
    <link rel="shortcut icon" href="{% static 'images/icon.png' %}" />
</head>
<body>
<div class="authentication-theme auth-style_1" style="margin-top: -100px">
    <div class="row">
        <div class="col-12 logo-section">
            <div class="logo justify-content-center">
                <img src="{% static 'images/TMHEMMA.png' %}" alt="logo" />

            </div><div class="h4" align="center">Signup - Moon School</div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-md-7 col-sm-9 col-11 mx-auto">
            <div class="grid">
                <div class="grid-body">
                    <div class="row">
                        <div class="col-lg-10 col-md-10 col-sm-10 col-12 mx-auto form-wrapper" id="app">
                            {% if errors %}
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    <strong>Error!</strong> {{ errors }}.
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endif %}
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="form-group input-rounded">
                                    <input autocomplete="off" value="{{ ss1.first_name }}" type="text" name="first_name" required class="form-control" placeholder="First Name" />
                                </div>
                                <div class="form-group input-rounded">
                                    <input autocomplete="off" value="{{ ss1.middle_name }}" type="text" name="middle_name" class="form-control" placeholder="Middle Name" />
                                </div>
                                <div class="form-group input-rounded">
                                    <input autocomplete="off" value="{{ ss1.last_name }}" type="text" name="last_name" required class="form-control" placeholder="Last Name" />
                                </div>
                                <div class="form-group input-rounded">
                                    <input autocomplete="off" value="{{ ss1.email }}" type="email" name="email" required class="form-control" placeholder="Email Address" />
                                </div>
                                <div class="form-group input-rounded">
                                    <input type="password" id="id_password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, one symbol and at lease 8 or more characters" draggable="true" name="password" required class="form-control" placeholder="Password" />
                                </div>
                                <div class="form-group input-rounded">
                                    <input v-model="pass2" type="password" id="id_confirm" name="confirm" draggable="true" required class="form-control" placeholder="Confirm Password" />
                                    <small class="text-danger" id="id_error"></small>
                                </div>
                                <button id="submit" disabled type="submit" class="btn btn-primary btn-block"> Next </button>
                            </form>
                            <div class="signup-link">
                                <p>Already have an account?</p>
                                <a href="{% url 'login' %}">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="auth_footer">
        <p class="text-muted text-center">© Open Source Project. Moon Technologies</p>
    </div>
</div>
<!--page body ends -->
<!-- SCRIPT LOADING START FORM HERE /////////////-->
<!-- plugins:js -->
<script src="{% static 'vendors/js/core.js' %}"></script>
<script src="{% static 'vendors/js/vendor.addons.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<!-- endinject -->
<!-- Vendor Js For This Page Ends-->
<!-- build:js -->
<!-- Vendor Js For Th
<!-- endbuild -->
<script>
    /*$('#id_confirm').on('change',function () {
        var val = $(this).val();
        var password = $('#id_password').val();
        if (val === password){
            $('#submit').prop('disabled', false);
            document.getElementById('id_error').innerHTML = '';
        }else{
            $('#submit').prop('disabled', true);
            document.getElementById('id_error').innerHTML = 'Passwords do not match';
        }
    });*/

    new Vue({
        el: '#app',
        data(){
            return{
                pass2: '',
            }
        },
        watch: {
            pass2(value){
                this.pass2 = value;
                var password = $('#id_password').val();
                if (this.pass2 === password){
                    $('#submit').prop('disabled', false);
                    document.getElementById('id_error').innerHTML = '';
                }else{
                    $('#submit').prop('disabled', true);
                    document.getElementById('id_error').innerHTML = 'Passwords do not match';
                }
                /*$('#id_confirm').on('change',function () {

                });*/
            }
        }
    })
</script>
</body>
</html>