{% extends 'layouts/main.html' %}
{% load school_tags %}
{% block mc %}
    active
{% endblock %}
{% block page_title %}
    <h4>{{ object.description }} - {{ class.description }}</h4>
    <p>{{ object.start_date }} - {{ object.end_date }} ({{ object.number_of_weeks }} weeks)</p>
{% endblock %}
{% block content %}
    <div class="grid">
        <div class="grid-header split-header">
            <span>Academic Results</span>
            <span class="text-warning">{% if not result %}This academic term is not opened for students results processing{% endif %}</span>
        </div>
        <div class="grid-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Student Name</th>
                        <th>Status</th>
                        <th>Final Average Score</th>
                        <th>Final Grade</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for res in results %}
                        {% result_average res.id as avg %}
                        <tr>
                            <td>{{ res.pupil.full_name }}</td>
                            <td>{{ res.get_status_display }}</td>
                            <td>{{ avg.avg }}</td>
                            <td>{{ avg.grade }}</td>
                            <td>
                                <a href="{% url 'pupil:class-term-pupil' res.id %}">
                                    <i class="mdi mdi-1x mdi-open-in-new"></i>
                                </a>
                            </td>
                            <td></td>
                        </tr>
                    {% empty %}
                        {% if result %}
                            <tr>
                                <td colspan="5">
                                    <a href="?open=YES">Open</a> results submission for all students in this class
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">
                                    Nothing to show here
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}